<h1> Surveys </h1>

<% if current_user %>
  <% current_user.results.each do |result| %>
  <%if @user_surveys.include?(Survey.find(result.survey_id)) == false %>
    <% @user_surveys << Survey.find(result.survey_id)  %>
    <% end  %>
  <% end %>
<% end %>

<h2 id=survey-list> You haven't tried these yet! </h2>
<% @surveys.each do |survey| %>
  <% if @user_surveys.empty? == true || @user_surveys.include?(survey)==false %>
    <div class = "survey">
    <%= link_to(image_tag(@survey_images[survey.id]["data"][rand(0..9)]["images"]["fixed_height"]["url"], alt: survey.name), survey_path(survey.id), class: "fixed_height") %>
      <span><%= link_to(survey.name, survey_path(survey.id)) %></span>
    </div>
  <% end  %>
<% end  %>

<% if current_user %>
  <h2 id=survey-list> Tried already... </h2>
  <% @user_surveys.each do |survey| %>
  <div class = "survey">
  <%= link_to(image_tag(@survey_images[survey.id]["data"][rand(0..4)]["images"]["fixed_width"]["url"], alt: survey.name), survey_path(survey.id)) %>
    <span><%= link_to(survey.name, survey_path(survey.id)) %></span>
  </div>
  <% end  %>
<% end %>
