<h1>Which do you hate more, <%=@survey.name%> edition:</h1>


<button type="submit" name="start_survey">Start Survey</button>
<br>
<button type="submit" name="ticket_master" id="ticketMaster">Ticket Master</button>
<br>
<div class="topic" id ="<%=@survey.name%>" type="hidden">

</div>

<input type="hidden" id="user" value="<%= @user.id %>">
