// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background-color: #280b33;
  color: black;
  font-family: helvetica;
}

main{
  margin-top: 105px
}

header {
  z-index: 10;
  box-sizing: border-box;
  margin: 0;
  top: 0px;
  left: 0;
  display: block;
  overflow: hidden;
  text-align: center;
  // margin-bottom: 1rem;
  background: linear-gradient(to bottom right, purple, pink);

  position: fixed;
  width: 100%
}

.header-buttons {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.tab-cols {
    padding-right: 1rem;
  }

.search-bar{
  padding-right: 0px;
}

h1 {
  padding: 0;
  margin: 0;
}
.logo {
  padding-left: 3%;
  font-family: helvetica, cursive;
  color: lavenderblush;
  float: left;
  width:33.3333%;
  text-align: left;
}
.site-nav {
  color: lavenderblush;
  float: right;
  width: 33.333%;
  text-align: right;
  padding-top: 0.6%;
  padding-right: 4%;
}

.site-nav:visted {
  color: lavenderblush;
}

.login {
  margin-top: 45px;
}

.action {
  margin-bottom: 20px;
}

h1 + img {
    display: block;
    width: 100px;
    height: 100px;
}
