// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background-color: white;
  color: black;
}

main{
  margin-top: 105px
}

header {
  z-index: 10;
  box-sizing: border-box;
  margin: 0;
  top: 0px;
  left: 0;
  display: block;
  text-align: center;
  // margin-bottom: 1rem;
  background: linear-gradient(to bottom right, purple, pink);

  position: fixed;
  width: 100%
  // box-shadow: 5px 10px 8px #888888;
}

#radButton {
  margin-bottom: 10px;
}


.form-box {
  opacity: .99;
  width: 250px;
  height: 250px;
  background: linear-gradient(to bottom right, purple, pink);
  border: 3px solid #280b33;
  border-radius: 25px;
}

.form-row {
  // position: relative;
  /* display: inline-block; */
  // z-index: 12;
  //display: inline-grid;
  opacity: .99;
  margin-top: -350px;
  // margin-left: 35%;
  // margin-right: 35%;
  width: 250px;
  height: 200px;
  align-self: center;
  // height: 20%;
  // background-color: grey;
  background: linear-gradient(to bottom right, purple, pink);
  border: 3px solid #280b33;
  border-radius: 25px;
  top: 60%;
  left: 39%;
  // z-index: 10;
  // height: 30%;
  //  Dark Purple colour #280b33
}


.login-fields > form {
    display: inline-block;
    text-align: center;
}

.login-fields {
  height: 20px;
  width: 30%;
  display: grid;
  margin-bottom: 10px;
  margin-top: 10px;
  // margin-left: -52%;
}

.map-background {
  // margin-top: -25px;
  // margin-right: -10px;
  // margin-left: -10px;
  // height: fit-content;
}

.padded-map {
  padding: 20px;
  background-color: #280b33;
}

.header-buttons {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.tab-cols {
    padding-right: 1rem;
  }

.search-bar{
  padding-right: 0px;
}

h1 {
  padding: 0;
  margin: 0;
}
.logo {
  color: lavenderblush;
  float: left;
  width:33.3333%;
  text-align: left;
  font-family: 'Rock Salt', cursive;
}
.site-nav {
  color: lavenderblush;
  float: right;
  width: 33.333%;
  text-align: right;
  padding-top: 0.6%;
  padding-right: 4%;
}

.site-nav:visted {
  color: lavenderblush;
}

.login {
  margin-top: 10px;
  //padding-left: 3%;
  color: lavenderblush;
  //float: left;
  // width:33.3333%;
  text-align: center;
  font-family: 'Rock Salt', cursive;


}

// .action {
//   height: 30px;
//   width: 200px;
//   margin-bottom: 10px;
//   // margin-bottom: 200px;
// }

h1 + img {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid black;

}

.login-button {
  height: 35px;
  width: 205px;
  margin-bottom: 0px;
  font-size: 20px;
  background: linear-gradient(to bottom right, purple, rebeccapurple);
  color: white;
  border: 2px solid #280b33;
}

.form-control {
    height: 30px;
    width: 200px;
    margin-bottom: 5px;
  }

  .login-page .logo {
    animation-name: slideInLeft;
    animation-duration: 0.5s;
  }

  img.user_avatar {
    border: 2px darkgray ridge;
}
